h2 {
    font-size: 66px;
    line-height: 84px;
    border-bottom: 1px solid #777;
}

h3 {
    font-size: 60px;
    line-height: 72px;
}

#content p, #content li {
    line-height: 66px;
    font-size: 44px;
}

.desktop_only {
    display: none;
}

.mobile_only {
    display: block;
}

img {
    width: 700px;
    display: block;
    margin: auto;
}

#sections {
    display: none;
}

#container {
    width: 80%;
}

ul.ba {
    list-style-type: none;
}