body {
    font-family: 'Times New Roman';
    font-size: 1.4rem;
    background-color: #fffbeb;
    line-height: 2.4rem;
}

a:link {
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
}

a:visited {
    color: blue;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
}

a:hover {
    background-color: #fff96e;
}

h2 {
    font-family: 'Hahmlet', Georgia, serif;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding: 5px;
    max-width: 40rem;
}

h3 {
    font-family: 'Hahmlet', Georgia, serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.2rem;
    margin-top: 2.7rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

    h4 span {
        background-color: #d2e0f9;
    }

h4 a{
    color: black;
    text-decoration: none;
}

header {
    margin-top: 40px;
    margin-left: 40px;
}

.container {
    padding: 2rem;
    margin-left: auto;
    max-width: 94rem;
}

ul.ba {
    list-style-type: none;
}

img {
    width: 700px;
    display: block;
    margin: auto;
}

#sections {
    float: left !important;
    clear: left;
    width: auto;
    padding: 30px 30px 0 0;
    margin: 0 20px 0 0;
    border-right: 1px solid rgb(221, 221, 221);
    max-width: 200px;
}