﻿html {
    /* font-size 62.5% makes 1rem equal 10px for easy size calculations. */
    font-size: 62.5%;
    font-family: Helvetica,Helvetica-Normal sans-serif;
    background-color: #FFD580;
}

body {
    margin: 40px 20px;
    /* Default font-size to about 18px */
    font-size: 15px;
}

.container {
    padding: 0 1rem;
    max-width: 94rem;
    /* Horizontally center containers */
    margin-left: 10px
}

nav {
    background-color: #1d1d1d;
    line-height: 6rem;
    font-size: 1.7rem;
}

    nav a {
        color: #fff;
        padding: 1rem;
    }

#sidebar h1 {
    font-size: 20px;
    margin: 5px 0 20px 0;
}

ul.ba {
    list-style-type: none;
}

h1 {
    border-bottom: 1px;
    font-weight: 900;
    font-size: 20px;
    margin: 15px 0 15px 0;
    line-height: 54px;
    clear: left;
    display: inline-block;
    width: 100%;
    max-width: 680px;
    /* width: auto; */
    list-style-type: none;
}
